.root {
  min-height: 100vh;
  background: linear-gradient(to right, #a8c0ff, #3f2b96);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.tracks {
  width: 100%;
}

.controls {
  margin-bottom: 20px;
}
