.panel {
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
  padding-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.playButton {
  z-index: 2;
}
.playButton,
.stopButton {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 1px solid var(--grey-200);

  &:hover {
    background-color: var(--primary-100);
    border: 1px solid var(--primary-200);
  }
}

.stopButton {
  position: relative;
  transform: translateX(-30%);
  z-index: 1;
  &:hover {
    z-index: 3;
  }
}
