@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
:root {
  --primary-100: #fff2da;
  --primary-200: #ffdb93;
  --primary-300: #ffd37b;
  --black-500: #2f2f2fff;
  --grey-200: #ededed;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  color: var(--black-500);
}

:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
